/*
GENERAL
*/
html {
    font-size: 16px;
}

.box {
    margin: 100px auto 0;
    /*width: 50%;*/
    text-align: center;
}

.percent {
    position: relative;
    background-color: #518dc1;
    padding: 8px 13px;
    border-radius: 3px;
    font-weight: bold;
    bottom: 80px;
    /*left: -320px;*/
    font-size: 1rem;
}

.percent::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: -15px;
    left: 22px;
    border: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #518dc1 transparent transparent transparent;
}

/*
Landscape phone to portrait tablet
*/

@media (max-width: 767px) {
    .percent {
        font-size: 1.5rem;
        bottom: 100px;
    }

    .percent::after {
        left: 30px;
    }

    .progress-bar {
        height: 25px;
    }
}
